<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <title>Lucas Learning</title>
    <meta name="author" content="Lucas Oliveira">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://Kit.fontawesome.com/006642858d.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div th:replace="/Components/Nav-Index :: nav-index"></div>
    <div th:replace="/Components/Main-index :: main-index"></div>
    <script src="/js/GeneraterCard.js"></script>
</body>
</html>